{% load static %}
<link rel="stylesheet" href="{% static 'css/predict.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{% block content %}

<head>  
    <meta charset="UTF-8">
    <title>Predict Diabetes</title>  
</head>  

<body>
  <div class="main">
    <img src="{% static 'css/images/Cloud-Bottom.png' %}"  width="1260"  height="110" transform="rotate(1.04deg)"/>
    <h1 class="title">Diabetes Prediction System</h1>
    <p>This Web Application is processed by a Machine Learning Algorithm to predict probability of an individual having Diabetes</p>
    <p2>Note this system is 74.5% accurate</p2>
  </div>
  <div class="background">
    <img src="{% static 'css/images/Cloud-middle5.png' %}" width="1200" />
  </div>

  <div class="container">
      <div class="form-container">
        <p>Please enter values for the following:</p>
          <form action="result">
              <table>
                  <tr>
                      <td> Pregnancies </td>
                      <td> <input type="text" name="n1" placeholder="Number of times pregrant"/> </td>
                  </tr>
                  <tr>
                      <td> Blood Glucose </td>
                      <td> <input type="text" name= "n2" placeholder="mg/dL"/> </td>
                  </tr>
                  <tr>
                      <td> Blood Pressure </td>
                      <td> <input type="text" name= "n3" placeholder="mm Hg"/> </td>
                  </tr>
                  <tr>
                      <td> Skin Thickness </td>
                      <td> <input type="text" name= "n4" placeholder="mm"/> </td>
                  </tr>
                  <tr>
                      <td> Insulin </td>
                      <td> <input type="text" name= "n5" placeholder="mu U/ml"/> </td>
                  </tr>
                  <tr>
                      <td> BMI </td>
                      <td> <input type="text" name= "n6" placeholder="Weight in kg/(height in m)^2"/> </td>
                  </tr>
                  <tr>
                      <td> Diabetes Pedigree </td>
                      <td> <input type="text" name= "n7" placeholder="Diabetes pedigree function" /> </td>
                  </tr>
                  <tr>
                      <td> Age </td>
                      <td> <input type="text" name= "n8" placeholder="Years"/> </td>
                  </tr>
              </table>
              <input type="submit" value="Check and Show Result">
          </form>
      </div>

      <div id="resultPopup" class="popup">
        <p>Prediction result: <span id="predictionResult" class="result-text">{{ result2 }}</span></p>
    
        <div class="separator"></div> <!-- Garis pemisah -->

        <p>Probability of Diabetes: <span id="probabilityDiabetes" class="probability-text">{{ resultyes }}</span></p>
        <p>Probability of No Diabetes: <span id="probabilityNoDiabetes" class="probability-text">{{ resultno }}</span></p>
        <button onclick="closePopup()">Close</button>
    </div>
    <div class="overlay" onclick="closePopup()"></div>
  </div>

    {% if show_popup %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            showPopup("{{ result2 }}", "{{ resultyes }}", "{{ resultno }}");
        });
    </script>
    {% endif %}
    
</body> 

{% endblock content %}